name: Render Typst Resume to PDF
on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: typst-community/setup-typst@v4
        with:
          typst-version: ^0.14.0
      - uses: actions/configure-pages@v5
      - run: typst compile resume.typ resume.pdf
      - uses: actions/upload-pages-artifact@v4
        with:
          path: resume.pdf
  deploy:
    runs-on: ubuntu-latest
    needs: render
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/deploy-pages@v4
